<aside id="sidebar">
  <div class="sidebar-title">
    <div class="sidebar-brand">
      <span class="material-icons-outlined">inventory</span>Fourbrick
    </div>
    <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
  </div>

  <ul class="sidebar-list">
    <li class="sidebar-list-item">
      <a href="/" target="_blank">
        <span class="material-icons-outlined">home</span> Home
      </a>
    </li>
    <li class="sidebar-list-item">
      <a href="/services" target="_blank">
        <span class="material-icons-outlined">inventory_2</span> Services by
      </a>
    </li>
    <li class="sidebar-list-item">
      <a href="#" target="_blank">
        <span class="material-icons-outlined">fact_check</span>About Comapny
      </a>
    </li>
    <li class="sidebar-list-item">
      <a href="#" target="_blank">
        <span class="material-icons-outlined">add_shopping_cart</span>
        Why Choose Us
      </a>
    </li>
    <li class="sidebar-list-item">
      <a href="#" target="_blank">
        <span class="material-icons-outlined">shopping_cart</span>
        Portfolio
      </a>
    </li>
    <li class="sidebar-list-item">
      <a href="#" target="_blank">
        <span class="material-icons-outlined">poll</span>Contact Us
      </a>
    </li>
    <li class="sidebar-list-item">
      <a href="#" target="_blank">
        <span class="material-icons-outlined">settings</span>Logout
      </a>
    </li>
  </ul>
</aside>
